/* CSS for monopoly gameboard */

:root {
    --gameBoardSize: 90vh;
    --cornerSize: calc( var(--gameBoardSize) * 0.14 );
    --siderowWidth: calc( var(--gameBoardSize) * 0.72 );
    --propertySpace: calc( var(--siderowWidth) / 9);
}

* {
    box-sizing: border-box;
}

#gameBoard {
    position: relative;
    width: var(--gameBoardSize);
    height: var(--gameBoardSize);
    background-color: #eee;
}

/**************************************** CORNER SQUARES */

.cornerSquare {
    position: absolute;
    width: var(--cornerSize);
    height: var(--cornerSize);
    border: 2px solid black;
    overflow: hidden;
    background-color: white;
}

.squareContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

#passGo {
    bottom: 0;
    right: 0;
}

#passGo .squareContent {
    transform: rotate(-45deg);
}

#atJail {
    bottom: 0;
    left: 0;
}

#freeParking {
    top: 0;
    left: 0;
}

#goToJail {
    top: 0;
    right: 0;
}



/**************************************** PROPERTY ROWS */

.propertyRow {
    position: absolute;
    height: var(--cornerSize);
    width: var(--siderowWidth);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#bottomRow {
    bottom: 0;
    left: var(--cornerSize);
}

#leftRow {
    left: 0;
    transform: rotate(90deg);
    transform-origin: bottom left;
}

#topRow {
    top: 0;
    left: var(--cornerSize);
    transform: rotate(180deg);
}

.property {
    position: relative;
    border: 2px solid black;
    flex: 1;
}

.colorBar {
    position: absolute;
    width: 100%;
    height: 20%;
    border-bottom: 2px solid black;
}

.property h1 {
    position: absolute;
    width: 100%;
    top: 30%;
    font-size: 6px;
    text-align: center;
    transform: uppercase;
}

.property p {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 6px;
    text-align: center;
    transform: uppercase;
}

.familyPurple .colorBar {
    background-color: purple;
}