/* styles for the TP4: Tic-Tac-Toe project */

@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

:root {
    --gameBoardSize: 80vh;
    --gameBoardSpacer: 15px;
}

#gameBoard {
    position: relative;
    width: calc( var(--gameBoardSize) - var(--gameBoardSpacer));
    height: calc( var(--gameBoardSize) - var(--gameBoardSpacer));
    background-color: black;
}

.gameSpace {
    position: absolute;
    background-color: white;
    width: calc( ( var(--gameBoardSize) / 3 ) - var(--gameBoardSpacer) );
    height: calc( ( var(--gameBoardSize) / 3 ) - var(--gameBoardSpacer) );
    font-family: "Twinkle Star";
    font-size: 10rem;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}

.row1 {
    top: 0;
}

.row2 {
    top: calc( var(--gameBoardSize) / 3 );
}

.row3 {
    top: calc( ( var(--gameBoardSize) / 3 ) * 2 );
}

.col1 {
    left: 0;
}

.col2 {
    left: calc( var(--gameBoardSize) / 3 );
}

.col3 {
    left: calc( ( var(--gameBoardSize) / 3 ) * 2 );
}