/* CSS for tic tac toe game */

@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

:root {
    --gameBoardSquare: 80vh;
    --gameBoardSpacer: 10px;
    --borderColor: green;
}

* {
    box-sizing: border-box;
}

#gameBoard {
    position: relative;
    width: var(--gameBoardSquare);
    height: var(--gameBoardSquare);
    background-color: black;
}

.gameSpace {
    position: absolute;
    width: calc( var(--gameBoardSquare) / 3);
    height: calc( var(--gameBoardSquare) / 3);
    background-color: white;
    font-family: "Twinkle Star", cursive;
    font-size: 10rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rowA {
    top: 0;
    border-bottom: var(--gameBoardSpacer) solid var(--borderColor);
}

.rowB {
    top: calc( var(--gameBoardSquare) / 3);
    border-bottom: var(--gameBoardSpacer) solid var(--borderColor);
    border-top: var(--gameBoardSpacer) solid var(--borderColor);
}

.rowC {
    top: calc( (var(--gameBoardSquare) / 3) * 2);
    border-top: var(--gameBoardSpacer) solid var(--borderColor);
}

.col1 {
    left: 0;
    border-right: var(--gameBoardSpacer) solid var(--borderColor);
}

.col2 {
    left: calc( var(--gameBoardSquare) / 3);
    border-right: var(--gameBoardSpacer) solid var(--borderColor);
    border-left: var(--gameBoardSpacer) solid var(--borderColor);
}

.col3 {
    left: calc( (var(--gameBoardSquare) / 3) * 2);
    border-left: var(--gameBoardSpacer) solid var(--borderColor);
}