/* styles for Concentration board */
/* this has been slightly updated with more variables since the demo video */

* {
    box-sizing: border-box;
}

:root {
  --boardWidth: 100vw; /* variable for overall board dimensions */
  --boardGap: 1vw;
  --cardSize: calc( ( var(--boardWidth) - var(--boardGap) ) / 2); /* calculated variable for card dimensions */
}

body {
  margin: var(--boardGap) 0 0 0;
  padding: 0;
}


/************************************** general card styling */

.card {
  position: relative;
  width: var(--cardSize);
  height: var(--cardSize);
  perspective: 500px; /* special CSS property relevant to 3D flips */
}

.cardContent {
  position: absolute; /* positioning within the parent card object */
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d; /* special CSS property relevant to 3D flips */
}

.card:hover .cardContent {
  transform: rotateY(180deg); /* simulate a 3D flip */
}

.cardTop,
.cardBottom {
  position: absolute; /* positioning within the parent cardContent object */
  text-align: center;
  height: 100%;
  width: 100%;
  border: 2px solid darkblue;
  font-size: 42px;
  backface-visibility: hidden; /* special CSS property relevant to 3D flips */
}

.cardTop {
  background-color: darkblue;
  color: #eee;
}

.cardBottom {
  background-color: #eee;
  color: darkblue;
  transform: rotateY(180deg); /* pre-flip so it appears on parent's flip */
}


/************************************** specific card styling */

.pair1 .cardBottom {
    background-color: red;
}

.pair2 .cardBottom {
    background-color: green;
}

.pair3 .cardBottom {
    background-color: yellow;
}

.pair4 .cardBottom {
    background-color: gray;
}



/************************************** gameboard formatting */

#gameBoard {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: var(--boardGap);
    width: var(--boardWidth);
}

@media screen and (orientation: landscape) {

  :root {
    --boardWidth: 80vw; /* variable for overall board dimensions */
    --cardSize: calc( ( var(--boardWidth) - (3 * var(--boardGap) ) ) / 4); /* calculated variable for card dimensions */
  }

  #gameBoard {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
  }

}
