/* styles for Concentration board */

* {
    box-sizing: border-box;
}

:root {
  --cardSize: 40vw; /* variable for card dimensions */
}


/************************************** general card styling */

.card {
  position: relative;
  width: var(--cardSize);
  height: var(--cardSize);
  perspective: 500px; /* special CSS property relevant to 3D flips */
  margin-bottom: 1rem;
}

.cardContent {
  position: absolute; /* positioning within the parent card object */
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d; /* special CSS property relevant to 3D flips */
}

.card:hover .cardContent {
  transform: rotateY(180deg); /* simulate a 3D flip */
}

.cardTop,
.cardBottom {
  position: absolute; /* positioning within the parent cardContent object */
  text-align: center;
  height: 100%;
  width: 100%;
  border: 2px solid darkblue;
  font-size: 42px;
  backface-visibility: hidden; /* special CSS property relevant to 3D flips */
}

.cardTop {
  background-color: darkblue;
  color: #eee;
}

.cardBottom {
  background-color: #eee;
  color: darkblue;
  transform: rotateY(180deg); /* pre-flip so it appears on parent's flip */
}


/************************************** specific card styling */

.pair1 .cardBottom {
    background-color: red;
}

.pair2 .cardBottom {
    background-color: green;
}

.pair3 .cardBottom {
    background-color: yellow;
}

.pair4 .cardBottom {
    background-color: gray;
}



/************************************** gameboard formatting */

#gameBoard {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 100vw;
}

@media screen and (orientation: landscape) {

  :root {
    --cardSize: 20vw;
  }

  #gameBoard {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

}
